#home{
    color: var(--azulOscuro);
}
.navbar {
    width: 70vw;
    margin: 2rem auto;
}

.inputCont {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--azulOscuro);
    width: fit-content;
}

.navbar button {
    background-color: transparent;
    padding: 2px;
}

.navbar input {
    border: none;
    outline: none;
}

.navbar input :hover {
    border: none;
}

.perfilCont .avatar{
    width: 2rem;
    height: 2rem;
    padding: 0;
    background-color: none;
}
.perfilCont span{
    border-bottom: 1px solid var(--azulOscuro);
}
/* /////////////// */
.content {
    margin: 0 auto;
    width: 60vw;
    height: fit-content;
}

    .carrousel{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid grey;
        border-left: none;
        border-right: none;
        padding: 2rem;
    }
    .carrousel button{
        height: fit-content;
    }
    .ovalo{
        width: 5rem;
        height: 10rem;
        background-color: var(--azulOscuro);
        border-radius: 10000px;
        box-shadow: 5px 2px 0 2px blue;
    }

.sidebarRight,
.sidebarLeft {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 15vw;
    height: 75%;
    justify-content: space-between;
    border-left: 2px solid var(--azulOscuro);
}

.sidebarRight img {
    align-self: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--azul);
    padding: 10px;
    border-radius: 100%;
}


.sidebarLeft {
    border-left: none;
    border-right: 2px solid var(--azulOscuro);
    left: 0;
    width: 10vw;
}
.sidebarLeft img{
    width: 2rem;
    height: 2rem;
    padding: 8px;
    border: 1px solid var(--azulOscuro);
    border-radius: 100%;
}
.sidebarLeft div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pais {
    transform: rotate(-90deg) translate(2rem);

}

.modalsideRight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    color: black;
    border: 3px solid grey;
    padding: 1rem;
    border-radius: 8px;
    min-width: fit-content;
    width: 15rem;
    height: fit-content;
    text-align: center;
}

footer {
    margin: 1rem auto;
    width: 60vw;
}

@media (max-width: 700px) {
    .navbar{
        flex-direction: column;
        gap: 2rem;
    }
    .mainContHome {
        display: flex;
        flex-direction: column-reverse;
    }

    .content{
        width: 90vw;
    }

    .sidebarLeft,
    .sidebarRight {
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 90vw;
        margin: 1rem auto;
        border-left: none;
        border-right: none;
        justify-content: center;
        gap: 3%;
    }

    .sidebarLeft div {
        flex-direction: row;
    }

    .pais {
        transform: none;
    }

    .content{
        text-align: center;
    }

    .carrousel{
        flex-direction: column;
        gap: 1rem;
    }

    footer{
        text-align: center;
    }
}