:root{
    --azul : #4F9C9E;
    --verde : #99C69F;
    --piel : #F0D4A2;
}

body{
    margin: 0;
    font-weight: 400;
}

li{
    list-style: none;
}

.link{
    color: var(--azul);
    text-decoration: underline;
}

.link,
button,
img{
    cursor: pointer;
}

button{
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--verde);
}

/* div,
section{
    border: 1px solid red;
} */
