:root {
    --azul: #4F9C9E;
    --verde: #99C69F;
    --piel: #F0D4A2;
    --azulOscuro: #24249b;
}

body {
    margin: 0;
    font-weight: 400;
}

.link {
    color: var(--azul);
    text-decoration: underline;
}

ul {
    margin: 0 auto 1rem auto;
    width: fit-content;
}

.link,
button,
img {
    cursor: pointer;
}

button {
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: var(--verde);
}